<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>MyPizzaria - Bem-vindo!</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 100px;
    }

    h1 {
      font-size: 3em;
      color: #d42020; /* MyPizzaria red color */
    }

    p {
      font-size: 1.2em;
    }
  </style>
</head>

<body>

  <h1>Bem-vindo à pizzaria do <%= nomeDoUsuario %>!</h1>
  <p>A melhor pizza do mundo te espera. Confira nosso cardápio e faça seu pedido!</p>

</body>

</html>
